body {
  background: white;
  margin: 20px;
}

/* main drawing */
.drawing {
  width: 420px;
  display: block;
  margin-bottom: 12px;
}

/* contact + shop images */
a img {
  height: 65px;
  width: auto;
  margin-right: 14px;
}

/* subtle hover effect */
a img:hover {
  opacity: 0.7;
  cursor: pointer;
}
